openapi: 3.0.0
info:
  title: News feed API
  contact:
    email: a@thekilo.ru
  version: v1.1
servers:
- url: https://news-feed.thekilo.org/api/v1
  description: Test server for news feed api
tags:
- name: categories
  description: Категории статей
- name: articles
  description: Статьи
paths:
  /categories:
    get:
      tags:
      - categories
      summary: Получить список категорий
      description: Возвращает список категорий с пагинацией ограниченный 20 записями.
        Содержит вложенные категории. Возможно расширить используя extended параметры.
      parameters:
      - name: parent
        in: query
        description: Родительская категория
        required: false
        style: form
        explode: true
        schema:
          type: integer
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category'
        "400":
          description: Invalid status value
  /categories/{category_id}:
    get:
      tags:
      - categories
      summary: Получить категорию по ID
      description: Возвращает категорию по ID.
      operationId: getPetById
      parameters:
      - name: category_id
        in: path
        description: ID категории обязателен
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        "400":
          description: Invalid ID supplied
        "404":
          description: Category not found
  /articles:
    get:
      tags:
      - articles
      summary: Получить список статей
      description: Возвращает список статей с пагинацией ограниченный 20 записями.
        Содержит в себе объекты категорий к которым принадлежит. Возможно расширить
        используя extended параметры.
      parameters:
      - name: category
        in: query
        description: Фильтрация по ID категории
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Article'
  /articles/{article_id}:
    get:
      tags:
      - articles
      summary: Получить статью по ID
      description: Возвращает статью по ID.
      parameters:
      - name: article_id
        in: path
        description: ID статьи обязателен
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Article'
        "400":
          description: Invalid ID supplied
        "404":
          description: Article not found
components:
  schemas:
    Article:
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: 2
        title:
          type: string
          description: Заголовок статьи
          example: 'Одни закрылись, другие переехали: какие заведения Перми не найти
            на привычных местах из-за пандемии'
        content:
          type: string
          description: Тело статьи
          example: 'Кафе, бары и рестораны Перми вернулись к работе в обычном режиме
            только в середине августа. До этого они прошли путь от полного карантина,
            объявленного в конце марта, до возможности открыться в формате летника
            в начале июля. Восстановиться смогли не все: часть любимых пермяками мест
            закрылась, а некоторым пришлось поменять адрес. Рассказываем о таких заведениях.'
        categories:
          type: array
          items:
            $ref: '#/components/schemas/Category'
    Category:
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: 5
        parent_id:
          type: integer
          description: ID родительской категории
          format: int32
          example: 1
        title:
          type: string
          description: Название категории
          example: Общество
        childs:
          type: array
          items:
            $ref: '#/components/schemas/CategoryChild'
    CategoryChild:
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: 3
        parent_id:
          type: integer
          description: ID родительской категории
          format: int32
          example: 5
        title:
          type: string
          description: Название категории
          example: Общество
        childs:
          type: array
          items:
            format: object
